<nav class="navbar navbar-expand-lg navbar-light bg-light add-height">
  <div class="container custom-width color-dark">
    <div
      class="collapse navbar-collapse justify-content-end mt-4"
      id="navbarNav"
    >
      <div class="d-flex navbar-logo">
        <img src="assets/Group 138.svg" alt="" />
        <span>
          <h3 class="recipe">Recipe</h3>
          <h4 class="mania">Mania</h4>
        </span>
      </div>
      <ul class="navbar-nav d-flex flex-row adjust">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blogs</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login/Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container custom-width peach-div">
  <div class="d-flex blogs">
    <h4 class="another-margin">Blogs</h4>
    <h6 class="add-margin">Home</h6>
    <h6 class="margin">Blogs</h6>
  </div>
</div>
<!-- START HERE!!!!!!!!!! -->

<div class="flex-container">
  <div class="flex-main">
    <div class="flex gap">
      <div class="img-container">
        <img src="assets/img-1.png" alt="" class="main-img w-100" />
      </div>

      <div class="flex-box">
        <p class="text-zinc-800 text-head margin-up">Make your own chicken</p>
        <div class="">
          <div class="flex-span">
            <div class="flex-span">
              <img
                src="assets/ant-design_eye-filled.svg"
                alt="design"
                class="icon"
              />

              <span class="fs inline-block"> 150 </span>
            </div>

            <div class="flex-span">
              <img src="assets/bx_bx-time-five.svg" alt="" class="icon" />

              <span class="fs inline-block"> Last Update : Feb 07,2022 </span>
            </div>
            <div class="flex-span">
              <img src="assets/uil_calender.svg" alt="" class="icon" />

              <span class="fs inline-block"> Created : Feb 05, 2022 </span>
            </div>
          </div>
        </div>

        <div class="text">
          You should follow this steps carefully and be sure doing it the right
          way.
        </div>

        <div class="main-btn">READ MORE</div>
      </div>
    </div>
  </div>

  <div class="create-line-height">
    <h4>Most visited Blogs</h4>

    <p class="blog-item">Make your own bread</p>
    <p class="blog-item">How to decorate cookies</p>
    <p class="blog-item">How to decorate cookies</p>
    <p class="blog-item">How to make sushi</p>
    <p class="blog-item">How to decorate cookies</p>
    <p class="blog-item">How to decorate cookies</p>
    <p class="blog-item">Make a party</p>
    <p class="blog-item">How to be healthy</p>
    <p class="blog-item">How to make cup cake</p>
  </div>
</div>

<!-- //ANOTHER ONE -->
<div class="flex-container">
  <div class="flex-main">
    <div class="flex gap">
      <div class="img-container">
        <img src="assets/Rectangle 354.png" alt="" class="main-img w-100" />
      </div>

      <div class="flex-box">
        <p class="text-zinc-800 text-head">Make your own chicken</p>
        <div class="">
          <div class="flex-span">
            <div class="flex-span">
              <!-- <img src="assets/ant-design_eye-filled.svg" alt="" class="icon" /> -->
              <img
                src="assets/ant-design_eye-filled.svg"
                alt="design"
                class="icon"
              />

              <span class="fs inline-block"> 150 </span>
            </div>

            <div class="flex-span">
              <img src="assets/bx_bx-time-five.svg" alt="" class="icon" />

              <span class="fs inline-block"> Last Update : Feb 07,2022 </span>
            </div>
            <div class="flex-span">
              <img src="assets/uil_calender.svg" alt="" class="icon" />

              <span class="fs inline-block"> Created : Feb 05, 2022 </span>
            </div>
          </div>
        </div>

        <div class="text">
          You should follow this steps carefully and be sure doing it the right
          way.
        </div>

        <div class="main-btn">READ MORE</div>
      </div>
    </div>
  </div>
</div>
<!-- //ANOTHER ONE -->
<div class="flex-container">
  <div class="flex-main">
    <div class="flex gap">
      <div class="img-container">
        <img src="assets/Rectangle 332.svg" alt="" class="main-img w-100" />
      </div>

      <div class="flex-box">
        <p class="text-zinc-800 text-head">Make your own chicken</p>
        <div class="">
          <div class="flex-span">
            <div class="flex-span">
              <!-- <img src="assets/ant-design_eye-filled.svg" alt="" class="icon" /> -->
              <img
                src="assets/ant-design_eye-filled.svg"
                alt="design"
                class="icon"
              />

              <span class="fs inline-block"> 150 </span>
            </div>

            <div class="flex-span">
              <img src="assets/bx_bx-time-five.svg" alt="" class="icon" />

              <span class="fs inline-block"> Last Update : Feb 07,2022 </span>
            </div>
            <div class="flex-span">
              <img src="assets/uil_calender.svg" alt="" class="icon" />

              <span class="fs inline-block"> Created : Feb 05, 2022 </span>
            </div>
          </div>
        </div>

        <div class="text">
          You should follow this steps carefully and be sure doing it the right
          way.
        </div>

        <div class="main-btn">READ MORE</div>
      </div>
    </div>
  </div>
</div>
<!-- //ANOTHER ONE -->
<div class="flex-container">
  <div class="flex-main">
    <div class="flex gap">
      <div class="img-container">
        <img src="assets/Rectangle 356.svg" alt="" class="main-img w-100" />
      </div>

      <div class="flex-box">
        <p class="text-zinc-800 text-head">Make your own chicken</p>
        <div class="">
          <div class="flex-span">
            <div class="flex-span">
              <!-- <img src="assets/ant-design_eye-filled.svg" alt="" class="icon" /> -->
              <img
                src="assets/ant-design_eye-filled.svg"
                alt="design"
                class="icon"
              />

              <span class="fs inline-block"> 150 </span>
            </div>

            <div class="flex-span">
              <img src="assets/bx_bx-time-five.svg" alt="" class="icon" />

              <span class="fs inline-block"> Last Update : Feb 07,2022 </span>
            </div>
            <div class="flex-span">
              <img src="assets/uil_calender.svg" alt="" class="icon" />

              <span class="fs inline-block"> Created : Feb 05, 2022 </span>
            </div>
          </div>
        </div>

        <div class="text">
          You should follow this steps carefully and be sure doing it the right
          way.
        </div>

        <div class="main-btn">READ MORE</div>
      </div>
    </div>
  </div>
</div>
<!-- //ANOTHER ONE -->
<div class="flex-container">
  <div class="flex-main">
    <div class="flex gap">
      <div class="img-container">
        <img src="assets/Rectangle 335.svg" alt="" class="main-img w-100" />
      </div>

      <div class="flex-box">
        <p class="text-zinc-800 text-head">Make your own chicken</p>
        <div class="">
          <div class="flex-span">
            <div class="flex-span">
              <img
                src="assets/ant-design_eye-filled.svg"
                alt="design"
                class="icon"
              />

              <span class="fs inline-block"> 150 </span>
            </div>

            <div class="flex-span">
              <img src="assets/bx_bx-time-five.svg" alt="" class="icon" />

              <span class="fs inline-block"> Last Update : Feb 07,2022 </span>
            </div>
            <div class="flex-span">
              <img src="assets/uil_calender.svg" alt="" class="icon" />

              <span class="fs inline-block"> Created : Feb 05, 2022 </span>
            </div>
          </div>
        </div>

        <div class="text">
          You should follow this steps carefully and be sure doing it the right
          way.
        </div>

        <div class="main-btn">READ MORE</div>
      </div>
    </div>
  </div>
</div>
<!-- //ANOTHER ONE -->
<div class="flex-container">
  <div class="flex-main">
    <div class="flex gap">
      <div class="img-container">
        <img src="assets/Rectangle 338.svg" alt="" class="main-img w-100" />
      </div>

      <div class="flex-box">
        <p class="text-zinc-800 text-head">Make your own chicken</p>
        <div class="">
          <div class="flex-span">
            <div class="flex-span">
              <img
                src="assets/ant-design_eye-filled.svg"
                alt="design"
                class="icon"
              />

              <span class="fs inline-block"> 150 </span>
            </div>

            <div class="flex-span">
              <img src="assets/bx_bx-time-five.svg" alt="" class="icon" />

              <span class="fs inline-block"> Last Update : Feb 07,2022 </span>
            </div>
            <div class="flex-span">
              <img src="assets/uil_calender.svg" alt="" class="icon" />

              <span class="fs inline-block"> Created : Feb 05, 2022 </span>
            </div>
          </div>
        </div>

        <div class="text">
          You should follow this steps carefully and be sure doing it the right
          way.
        </div>

        <div class="main-btn">READ MORE</div>
      </div>
    </div>
  </div>
</div>
<!-- //ANOTHER ONE -->
<div class="flex-container">
  <div class="flex-main">
    <div class="flex gap">
      <div class="img-container">
        <img src="assets/img-1.png" alt="" class="main-img w-100" />
      </div>

      <div class="flex-box">
        <p class="text-zinc-800 text-head">Make your own chicken</p>
        <div class="">
          <div class="flex-span">
            <div class="flex-span">
              <img
                src="assets/ant-design_eye-filled.svg"
                alt="design"
                class="icon"
              />

              <span class="fs inline-block"> 150 </span>
            </div>

            <div class="flex-span">
              <img src="assets/bx_bx-time-five.svg" alt="" class="icon" />

              <span class="fs inline-block"> Last Update : Feb 07,2022 </span>
            </div>
            <div class="flex-span">
              <img src="assets/uil_calender.svg" alt="" class="icon" />

              <span class="fs inline-block"> Created : Feb 05, 2022 </span>
            </div>
          </div>
        </div>

        <div class="text">
          You should follow this steps carefully and be sure doing it the right
          way.
        </div>

        <!-- <div class="btn main-btn">READ MORE</div> -->
        <div class="main-btn">READ MORE</div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex center-div">
  <div class="circle circle-1">1</div>
  <div class="circle circle-2">2</div>
  <div class="circle circle-3">3</div>
</div>

<div class="container custom-width background">
  <div class="social-info">
    <h4>Stay With Us</h4>
    <p>Available on all Socials</p>
  </div>
  <div class="social-images">
    <div class="image"></div>
    <div class="image"></div>
    <div class="image"></div>
    <div class="image"></div>
    <div class="image"></div>

    <div class="image"></div>
    <div class="image"></div>
    <div class="image"></div>
    <div class="image"></div>
    <div class="image"></div>
  </div>
</div>

<!-- //// START HERE -->

<div class="peach custom-width-2">
  <div class="d-flex navbar-logo">
    <img src="assets/Group 138.svg" alt="" />
    <span>
      <h3 class="recipe">Recipe</h3>
      <h4 class="mania">Mania</h4>
    </span>
  </div>

  <div class="left-column">
    <h4>Recent Categories</h4>
    <div class="column-content">
      <!-- Each span represents a category -->
      <span>
        <img src="" alt="" />
        <p>Category 4</p>
      </span>
      <span>
        <img src="" alt="" />
        <p>Category 4</p>
      </span>
      <span>
        <img src="" alt="" />
        <p>Category 4</p>
      </span>
      <span>
        <img src="" alt="" />
        <p>Category 4</p>
      </span>
      <span>
        <img src="" alt="" />
        <p>Category 4</p>
      </span>
      <span>
        <img src="" alt="" />
        <p>Category 4</p>
      </span>
      <span>
        <img src="" alt="" />
        <p>Category 4</p>
      </span>
      <span>
        <img src="" alt="" />
        <p>Category 4</p>
      </span>
      <span>
        <img src="" alt="" />
        <p>Category 4</p>
      </span>
      <span>
        <img src="" alt="" />
        <p>Category 4</p>
      </span>
      <span>
        <img src="" alt="" />
        <p>Category 4</p>
      </span>
      <span>
        <img src="" alt="" />
        <p>Category 4</p>
      </span>
      <span>
        <img src="" alt="" />
        <p>Category 4</p>
      </span>
      <span>
        <img src="" alt="" />
        <p>Category 4</p>
      </span>
      <span>
        <img src="" alt="" />
        <p>Category 4</p>
      </span>
      <span>
        <img src="" alt="" />
        <p>Category 4</p>
      </span>
      <span>
        <img src="" alt="" />
        <p>Category 4</p>
      </span>
      <span>
        <img src="" alt="" />
        <p>Category 4</p>
      </span>
    </div>
  </div>

  <div class="column">
    <h4>Latest Blogs</h4>
    <div>
      <span>
        <p>How to Make Your Owwn Bread</p>
      </span>
      <span>
        <p>How to Make Your Owwn Bread</p>
      </span>
      <span>
        <p>How to Make Your Owwn Bread</p>
      </span>
      <span>
        <p>How to Make Your Owwn Bread</p>
      </span>
      <span>
        <p>How to Make Your Owwn Bread</p>
      </span>
      <span>
        <p>How to Make Your Owwn Bread</p>
      </span>
    </div>
  </div>

  <div class="column">
    <h4>Latest Recipes</h4>
    <div>
      <!-- Each span represents a recipe -->
      <span>
        <img src="" alt="" />
        <p>Kids Recipe</p>
      </span>
      <span>
        <img src="" alt="" />
        <p>Kids Recipe</p>
      </span>
      <span>
        <img src="" alt="" />
        <p>Kids Recipe</p>
      </span>
    </div>
  </div>

  <div class="column">
    <h4>Links</h4>
    <div>
      <!-- Each span represents a link -->
      <span>
        <img src="" alt="" />
        <p>Home</p>
      </span>
      <span>
        <img src="" alt="" />
        <p>Home</p>
      </span>
      <span>
        <img src="" alt="" />
        <p>Home</p>
      </span>
      <span>
        <img src="" alt="" />
        <p>Home</p>
      </span>
      <span>
        <img src="" alt="" />
        <p>Home</p>
      </span>
    </div>
  </div>
</div>
